name: hello-world

on: push

jobs:
  hello-world-job:
    runs-on: ubuntu-latest
    steps:
      - name: checkout to repo
        uses: actions/checkout@v4
      - run: echo "hello world my name is jalil"
  
